SHOPIFY_STORE_DOMAIN=store.shopactionreplay.com
SHOPIFY_ADMIN_API_VERSION=2026-04
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_PRIVATE_STOREFRONT_ACCESS_TOKEN=

SHOPIFY_GALAXY_TEE_VARIANT_BLACK_S=
SHOPIFY_GALAXY_TEE_VARIANT_BLACK_M=
SHOPIFY_GALAXY_TEE_VARIANT_BLACK_L=
SHOPIFY_GALAXY_TEE_VARIANT_BLACK_XL=
SHOPIFY_GALAXY_TEE_VARIANT_BLACK_XXL=

SHOPIFY_GALAXY_TEE_VARIANT_WHITE_S=
SHOPIFY_GALAXY_TEE_VARIANT_WHITE_M=
SHOPIFY_GALAXY_TEE_VARIANT_WHITE_L=
SHOPIFY_GALAXY_TEE_VARIANT_WHITE_XL=
SHOPIFY_GALAXY_TEE_VARIANT_WHITE_XXL=
